body
{
    color:rgb(223, 1, 1);
    text-align: center;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background-color: blueviolet;
    box-shadow: 0px 2px 50px 0px rgba(47, 34, 168, 0.5);
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin:0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 0 0 0 len;
   font-weight: normal;
   font-size:0.8em; 
}

#container
{
    width: 70%;
    padding: len;
    text-align: left;
    border: 1px solid rgb(109, 28, 69);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#post
{
    padding: 1em;
}